#shortcut {
  background: #e8e8e8;
  font-size: 12px;

  .w {
    height: 31px;
    line-height: 31px;

    li {
      float: left;
      padding-right: 5px;
      padding-left: 5px;
      position: relative;

      &.spacer {
        overflow: hidden;
        margin: 9px 5px;
        padding: 0;
        width: 1px;
        height: 13px;
        background: #000000;
      }

      &.dropdown:hover {
        border: $commonBorder;
        background: #fff;
        border-top: none;
        padding-right: 4px;
        padding-left: 4px;

        .dropdown-menu {
          display: block;
          left: -1px;
          top: 23px;
          width: 100%;
          min-width: 0;
          border-radius: 1px;
          background-color: #fff;
          border: $commonBorder;
          border-top: 0;
          text-align: center;
          z-index: 99999;
          box-sizing: content-box;

          li {
            text-align: center;
            width: 100%;

            &:hover {
              border: none;
            }

            a {
              padding: 0;

              &:hover {
                background: none;
              }
            }
          }
        }
      }
    }

    a {
      color: $mainTextColor;

      &.active {
        color: $activeColor;
      }

      &:hover {
        color: $activeColor;
      }
    }

    .iconfont {
      margin-right: 6px;
      top: 1px;
      position: relative;

      &.active {
        color: $redColor;
        font-size: 17px;
      }

      .badge {
        background-color: #db0000;
        transform: scale(0.7);
        position: absolute;
        right: -6px;
        top: -4px;
        padding: 3px 5px;
      }
    }

    .iconfont.icon-arrow-down-sm {
      margin-right: 0;
      margin-left: 6px;
    }
  }
}

#header {
  height: 202px;
  position: relative;
  border-bottom: 2px solid $activeColor;


  .logo {
    position: absolute;
    top: 38px;
    left: 0;
  }

  .search-box {
    height: 160px;
    position: relative;

    .search-from {
      position: relative;
      border: 2px solid $redColor;
      top: 55px;
      margin-left: 314px;
      width: 512px;

      input {
        border: none;
        width: 416px;
        height: 32px;
        line-height: 32px;
        padding: 0 24px;
        outline: none;
      }

      .search-btn {
        line-height: 32px;
        padding: 0 30px;
        background: $activeColor;
        display: block;
        font-size: 14px;
        color: #fff;
        cursor: pointer;
        text-decoration: none;
      }
    }

    .hot-words {
      position: absolute;
      top: 100px;
      left: 316px;

      a {
        padding: 4px;
        line-height: 13px;
        color: $contentTextColor;
      }
    }
  }

  .header-icons {
    position: absolute;
    top: 48px;
    right: 0;

    ul {
      overflow: hidden;
    }

    li {
      float: left;
      padding-left: 20px;
      text-align: center;

      a {
        color: $mainTextColor;
        font-size: 0;

        &:hover {
          color: $activeColor;
        }
      }

      i {
        font-size: 38px;
        color: $activeColor;
        line-height: 38px;
      }

      p {
        font-size: 14px;
        font-weight: bold;
      }

      .gopng_1_outer {
        display: inline-block;
        width: 36px;
        height: 36px;
        background: url(https://img.51mydao.com/sprite_01.png) -112px -0px no-repeat;
      }
    }
  }

  .nav-item {
    height: 40px;
    padding-top: 2px;

    .cate-box {
      width: 204px;

      &:hover {
        .dropdown-menu {
          display: block;
        }
      }

      a {
        color: #fff;
      }

      .cate-box-header {
        width: 100%;
        background: $activeColor;
        padding-left: 8px;
        line-height: 38px;

        a {
          width: 100%;
          height: 38px;
          line-height: 38px;
          font-size: 16px;
          display: block;
        }
      }

      .dropdown-menu {
        background: $redColor;
        width: 100%;
        border-radius: 0;
        box-shadow: none;
        margin: 0;
        padding: 0;

        i {
          float: right;
        }

        a {
          font-size: 13px;

          &:hover {
            color: $activeColor;
          }
        }
      }
    }
  }
}